<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Forum - New Comment</title>
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/">
            <h1>Write your comment below</h1>
        </a>
            <form action="/">
                <button type="submit">Home</button>
            </form>
        </div>
        <br>
        <form action="/newComment" method="POST">
            <textarea type="text" name="content" required rows="4" cols="50" placeholder="Write your comment here"></textarea>
            <br>
        <input type="hidden" name="t" value="{{ . }}">
        <br>
       
        <input type="submit">
    </form>
            </div>
        </div>
    </div>